// Colors
$black: #000 !default;
$grey-100: #4a4a4a !default;
$grey-200: #f5f5f5 !default;

// Gutters
$gutter-base: 30px !default;
$gutter-s: 23px !default;

// Fonts
$font-family: 'HelveticaNeue', sans-serif !default;
$font-size-s: 13px !default;
$font-size-base: 16px !default;
$font-size-l: 18px !default;
$font-size-xl: 35px !default;
$line-height-base: 1.2 !default;
$line-height-s: 1.5 !default;