$card-width: 375px !default;

.ui-card {
  background-color: $white;
  margin-bottom: $gutter-base;
  padding: $gutter-base;
  display: flex;
	flex-direction: row;
  
  &__title {
    font-size: $font-size-base;
    margin: 0 0 $gutter-s;
    line-height: $line-height-base;
  }
  
  &--grid {
    width: 100%;
    max-width: $card-width;
    display: inline-block;

    &:nth-child(odd) {
      margin-right: $gutter-base;
    }
  }
}

.ui-list {
  padding: 0;

  &__item {
    list-style: none;
    padding: 0;
    font-size: $font-size-base;
    color: $gray-100;
    margin-bottom: $gutter-base / 2;
    position: relative;
    padding-left: $gutter-base + 10;
    line-height: $line-height-base;

    &:before {
      content: attr(data-apdex);
      position: absolute;
      left: 0;
      font-size: $font-size-s;
      line-height: $line-height-s;
    }
  }
}